*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Open Sans', sans-serif;
  }
 
  .head{
    width: 100%;
    height: 50px;
    background-color: black;
}
.head nav{
    padding-top: 8px;
}
.left1 ul li a{
    color: white;
}
.right1 ul li a{
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 3px;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li:last-child{
    margin-right: 50px;
}
.head1{
    width: 100%;
    height: 80px;
    background-color: white;
}
.head1 img{
    width: 300px;
    height: 80px;
    margin-left: 30px;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #0606e8;
    transition: all .5s;

}
 a:hover::after{
    width: 100%;
}
ul li ul.navbar li{
    display: block;
}
ul li ul.navbar{
    width: 100%;
    background:black;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 20px;
}
ul li:hover ul.navbar{
    display: block;
}
.bg{
    background-image: url("bg1.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 90vh;
    width: 100%;
    animation-name: bgswap;
    animation-duration: 10s;
    animation-iteration-count: infinite;  
}

@keyframes bgswap{
   30%{
    background-image: url(img\ 1.webp);
    background-size: cover;
   }
   60%{
    background-image: url(img2.jpg);
    background-size: cover;
   }
   100%{
    background-image: url(img3.webp);
   }
}
.head2{
    display: inline-block;
    margin-top: 14%;
    font-size: 16px;
    color: rgb(8, 5, 5);
    text-align: left;
    margin-left: 20px;
    
}
.head2 h1{
    font-size: 35px;
    color: black;
}
button{
    width: 150px;
    height: 35px;
    background-color: rgb(210, 170, 9);
    text-decoration: none;
    list-style: none;
    color: white;
    margin-top: 10px;
    position: relative;
    margin-left: 10%;
    border: none;
    border-radius: 6px;

}
button:hover{
    background-color: rgb(47, 104, 190);
    cursor:pointer;
    color: white;
}
.p1{
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
}
.details{
    width: 100%;
    height: 100px;
    display: flex;
}
.details .ad1{
   width: 20%;
    padding-top: 15px;
    text-align: center;
}
.scroll{
    width: 100%;
    color: blue;
    font-size: 15px;
}
.odigos{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
    
}
.Pushpa{
    width: 50%;
    height: 80vh;
}
.Pushpa img{
   width: 80%;
   height: 600px;
   padding: 50px;
}
.vjsmr{
    width: 50%;
    height: 400px;
    padding-top: 100px;
  
    
}
.vjsmr p{
    text-align: justify;
}

.container{
    width: 100%;
    height: 900px;
    margin-top: 50px;
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.5s,
   
}
.container .ppr h1{
    font-size: 35px;
    color: black;
   padding-left: 20px;
   padding-bottom: 20px;

}
.gallery{
    margin: 20px;
    border: 6px solid black;
    float: left;
    width: 390px;
    box-shadow: #0606e8;
   
}
.gallery img{
    width: 100%;
    height: auto;
    
}
.gallery h1{
    font-size: 20px;
    text-align: center;
}
.gallery:hover{
    background: #303Ef7;
    color: #fff;
    transform: scale(1.05s);
}
.success img{
    padding-left: 150px;
    padding-top: 70px;
}
.container1{
    width: 100%;
    height: 1000px;
    background-color: whitesmoke;
    margin-top: 40px;
    padding: auto;
}
.container1 .ppr1{
    font-size: 25px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.gallery1{
    border : 20px solid white;
    float: left;
    width: 33.3%;
    height: 400px;
    background-color: white;
   
}
.gallery1 img{
   width: 280px;
   height: auto;
   padding-left: 50px;
   padding-top: 20px;
  
   
}

.gallery1 h1{
    font-size: 15px;
    text-align: center;
   
    
   
}
.gallery1 p{
    font-size: 15px;
    text-align:justify;
    padding: 4px;
    
   
}
.placed{
    width: 100%;
    height: 100vh;
    margin: 60px;
   
}
.gallery2 img{
    
    width: 90%;
    height: 80vh;  
   
}
.hire{
    padding-bottom: 50px;
    padding-right: 70px;
    font-size: 25px;
    text-align: center;
}


.footer{
    width: 100%;
    height: 70vh;
    background-color: #565656;
    margin-top: 60px;
    padding-top: 30px;
    background-color: #565656;
}
.footerleft{
    width: 25%;
    height: 60vh;
    float: left;
}
.footerleft a{
    text-decoration: none;
    color: black;
}
.footerright a{
    text-decoration: none;
    color: black;
}
.footerright{
    width: 25%;
    height: 60vh;
    float: left;
}
.footerleft h3{
    color: white;
    margin-top: 35px;
    text-align: center;
}
.footerleft p{
    font-size: 13px;
    text-align: center;

}
.footerright h3{
    color: white;
    margin-top: 35px;
    text-align: center;
}
.footerright p{
    font-size:13px;
    text-align: center;
}
.bg2{
    background-image: url(bg\ 2.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
}
.dark2{
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 25, 25, 0.888);
}

